In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

In [3]:
crime_df = pd.read_csv('../data/WA_State_Crime.csv')
crime_df.head()

,county,IndexYear,Location,Population,Total,Rate,VTotal,VRate,Murder,Rape,Robbery,Assault,PTotal,PRate,Arson,Burglary,Theft,MVTheft
0,ADAMS,1994,Adams County Sheriffs Office,8070,237,29.4,20,2.5,0.0,3,1,16,217,26.9,6.0,47,142,22
1,ADAMS,1995,Adams County Sheriffs Office,8215,332,40.4,24,2.9,3.0,3,3,15,308,37.5,3.0,85,201,19
2,ADAMS,1996,Adams County Sheriffs Office,8390,306,36.5,14,1.7,1.0,1,2,10,292,34.8,10.0,66,196,20
3,ADAMS,1997,Adams County Sheriffs Office,8630,252,29.2,29,3.4,1.0,7,0,21,223,25.8,0.0,86,118,19
4,ADAMS,1998,Adams County Sheriffs Office,8710,285,32.7,20,2.3,0.0,4,1,15,265,30.4,8.0,96,143,18

In [5]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      5283 non-null   object
 1   IndexYear   5283 non-null   int64
 2   Location    5283 non-null   object
 3   Population  5283 non-null   int64
 4   Total       5283 non-null   int64
 5   Rate        5066 non-null   float64
 6   VTotal      5283 non-null   int64
 7   VRate       5066 non-null   float64
 8   Murder      5272 non-null   float64
 9   Rape        5283 non-null   int64
 10  Robbery     5283 non-null   int64
 11  Assault     5283 non-null   int64
 12  PTotal      5283 non-null   int64
 13  PRate       5066 non-null   float64
 14  Arson       5278 non-null   float64
 15  Burglary    5283 non-null   int64
 16  Theft       5283 non-null   int64
 17  MVTheft     5283 non-null   int64
dtypes: float64(5), int64(11), object(2)
memory usage: 743.1+ KB

In [4]:
crime_df.describe()

,IndexYear,Population,Total,Rate,VTotal,VRate,Murder,Rape,Robbery,Assault,PTotal,PRate,Arson,Burglary,Theft,MVTheft
count,5283.000000,5.283000e+03,5283.000000,5066.000000,5283.000000,5066.000000,5272.000000,5283.000000,5283.000000,5283.000000,5283.000000,5066.000000,5278.000000,5283.000000,5283.000000,5283.000000
mean,2002.923528,6.695316e+04,3288.495741,44.451599,238.469052,2.624477,2.182853,29.228847,66.772856,140.285633,3045.552527,41.808606,20.820387,609.216922,2045.289608,370.245315
std,5.493328,3.790099e+05,19270.367476,29.000013,1431.102153,2.349266,13.038752,167.144625,421.013580,838.899220,17845.453370,27.571363,124.932590,3500.083968,11994.092305,2310.547195
min,1994.000000,0.000000e+00,0.000000,0.000000,-2.000000,0.000000,0.000000,-2.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1998.000000,2.437500e+03,95.000000,25.200000,5.000000,1.100000,0.000000,0.000000,0.000000,3.000000,89.000000,23.500000,0.000000,19.000000,63.000000,5.000000
50%,2003.000000,9.000000e+03,384.000000,38.150000,18.000000,2.100000,0.000000,3.000000,2.000000,11.000000,365.000000,35.900000,2.000000,74.000000,252.000000,22.000000
75%,2007.000000,3.404250e+04,1345.500000,58.275000,76.000000,3.400000,1.000000,14.000000,14.000000,46.000000,1278.000000,54.600000,8.000000,254.000000,890.000000,95.000000
max,2018.000000,6.761195e+06,331316.000000,267.900000,26548.000000,28.600000,286.000000,3080.000000,7259.000000,15923.000000,308321.000000,251.500000,2351.000000,61297.000000,216139.000000,49151.000000